<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %> 

<body>
	<!-- Header -->

	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')%> 
<% } else { %>
		<%- include('./partials/headerNot')%> 
<% } %> 

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row d-flex justify-content-center">
			<!-- Show the "ultimos" products -->
			
			<form action="/login" method="POST">

				<div class="login">
					<div class="login-screen">
						<div class="app-title">
							<h1 class="forms-h1">Login</h1>
						</div>
			
						<div class="login-form">
							<div class="control-group">
							<input type="text" name="email" class="login-field" value="" placeholder="E-mail" id="login-name">
							<label class="login-field-icon fui-user" for="login-name"></label>
							</div>
			
							<div class="control-group">
							<input type="password" name="contrasenia" class="login-field" value="" placeholder="Password" id="login-pass">
							<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<label><input type="checkbox" name="remember" class="login-field" id="login-pass" value="first_checkbox"> Recuerdame</label><br>						
							</div class=btnforms>

							
			
							<button type="submit">COMENCEMOS</button>

						</div>
					</form>
					</div>
				</div>
			



		<!-- footer -->
	
		<%- include('./partials/footer') %> 

		<!-- /footer -->
</body>

</html>