<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %> 

<body>
	<!-- Header -->

	<%- include('./partials/headerNot')%> 

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row d-flex justify-content-center">
			<!-- Show the "ultimos" products -->
			
			<form action="">
				<div class="login">
					<div class="login-screen">
						<div class="app-title">
							<h1 class="forms-h1">Login</h1>
						</div>
			
						<div class="login-form">
							<div class="control-group">
							<input type="text" class="login-field" value="" placeholder="Username" id="login-name">
							<label class="login-field-icon fui-user" for="login-name"></label>
							</div>
			
							<div class="control-group">
							<input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
							<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<label><input type="checkbox" class="login-field" id="login-pass" value="first_checkbox"> Recuerdame</label><br>						
							</div class=btnforms>

							
			
							<a class="btn btn-primary btn-large btn-block" href="/user/profile">COMENCEMOS</a>

						</div>
					</form>
					</div>
				</div>
			



		<!-- footer -->
	
		<%- include('./partials/footer') %> 

		<!-- /footer -->
</body>

</html>