<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%> 

<body>
	<!-- Header -->

	<%- include('./partials/headerLogueado')%> 

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row d-flex justify-content-center">
			
			<!-- Show the "ultimos" products -->

			<form class = "form" action="/product/add" method="post" type="file" enctype="multipart/form-data">
				<div class="login">
					<div class="login-screen">
						<div class="app-title">
							<h1 class="forms-h1">Agrega tu disfraz ;)</h1>
						</div>
			
						<div class="login-form">
							<div class="control-group">
							<input type="file" name="imagenProducto" class="login-field" value="" placeholder="Imagen" id="login-name">
							<label class="login-field-icon fui-user" for="login-name"></label>
							</div>
			
							<div class="control-group">
							<input type="text" name="nombre" class="login-field" value="" placeholder="Nombre del disfraz" id="login-pass">
							<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="text" name="descripcion" class="login-field" value="" placeholder="Descripcion" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="date" name="fechaDeCarga" class="login-field" value="" placeholder="Fecha de carga" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<button type="submit"><a class="btn btn-primary btn-large btn-block" href="/user/profile">PUBLICAR</a></button>

						</div>
					</div>
				</div>
			</form>


		<!-- footer -->
	
		<%- include('./partials/footer') %> 

		<!-- /footer -->
</body>

</html>