<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%> 

<body>
	<!-- Header -->

	<%- include('./partials/headerLogueado')%> 

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder=" Change Username" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Change Password" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="Change E-mail" id="login-pass">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<div class="control-group">
					<input type="date" class="login-field" value="" placeholder="fecha de nacimiento" id="login-pass">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="DNI" id="login-pass">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<div class="control-group">
					<input type="file" class="login-field" value="" placeholder="Foto" id="login-pass">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<a class="btn btn-primary btn-large btn-block" href="#">COMENCEMOS</a>

			</div>
			</h2>


		<!-- footer -->
	
		<%- include('./partials/footer') %> 

		<!-- /footer -->
</body>

</html>