<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%> 

<body>
	<!-- Header -->

	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')%> 
<% } else { %>
		<%- include('./partials/headerNot')%> 
<% } %> 

	<!-- /Header -->

	<!-- Novedades -->
			<form action="">
				<div class="login">
					<div class="login-screen">
						<div class="app-title">
							<h1>Edita tu perfil</h1>
						</div>
			
						<div class="login-form">
							<div class="control-group">
							<input type="text" class="login-field" value="" placeholder="Username" id="login-name">
							<label class="login-field-icon fui-user" for="login-name"></label>
							</div>
			
							<div class="control-group">
							<input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
							<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="text" class="login-field" value="" placeholder="E-mail" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="date" class="login-field" value="" placeholder="Fecha de nacimiento" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="text" class="login-field" value="" placeholder="DNI" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="file" class="login-field" value="" placeholder="Foto" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>
			
							<a class="btn btn-primary btn-large btn-block" href="/user/profile">COMENCEMOS</a>

						</div>
					</div>
				</div>
			</form>


		<!-- footer -->
	
		<%- include('./partials/footer') %> 

		<!-- /footer -->
</body>

</html>