<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %> 

<body>
	<!-- Header -->

	<% if (locals.users != undefined) { %>
		<%- include('./partials/headerLogueado')%> 
<% } else { %>
		<%- include('./partials/headerNot')%> 
<% } %> 

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row d-flex justify-content-center">
			<!-- Show the "ultimos" products -->
	
			<form action="/register" method="POST" enctype="multipart/form-data">

				<div class="login">
					<div class="login-screen">
						<div class="app-title">
							<h1 class="forms-h1">Registrate</h1>
						</div>
			
						<div class="login-form">
							<div class="control-group">
							<input type="text" name="usuario" class="login-field" value="" placeholder="Username" id="login-name">
							<label class="login-field-icon fui-user" for="login-name"></label>
							</div>
			
							<div class="control-group">
							<input type="password" name="contrasenia" class="login-field" value="" placeholder="Password" id="login-pass">
							<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="text" name="email" class="login-field" value="" placeholder="E-mail" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="date" name="fechaDeNacimiento" class="login-field" value="" placeholder="Fecha de nacimiento" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="text" name="dni" class="login-field" value="" placeholder="DNI" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>

							<div class="control-group">
								<input type="file" name="fotoDePerfil" class="login-field" value="" placeholder="Foto" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>
			
							<button type="submit">COMENCEMOS</button>

						</div>
					</div>
				</div>
			</form>

		<!-- footer -->
	
		<%- include('./partials/footer') %> 

		<!-- /footer -->
</body>

</html>